<html>
   <body>
      <form action = "/event" method = "POST">
         <p>USER_ID <input type = "text" name = "user_id" /></p>
             <p>EVENT <select name = 'event'>
                          <option value="lunch">Lunch</option>
                          <option value="coffee">Coffee</option>
                          <option value="meet">Meet</option>
                        </select>
             </p>

         <p><input type = "submit" value = "submit" /></p>
      </form>
   </body>
</html>